.egg {
    position: absolute;
    height: 15px;
    width: 15px;
    opacity: 0.4;
    background-image: url(../img/egg.png);
}

.noneEgg {
    opacity: 0;
}

.LU1 {
    top: 167px;
    left: 75px;

}

.LU2 {
    top: 190px;
    left: 112px;

}

.LU3 {
    top: 213px;
    left: 149px;

}

.LU4 {
    top: 236px;
    left: 186px;

}

.LU5 {
    top: 259px;
    left: 213px;

}

.RU1 {
    top: 167px;
    right: 75px;

}

.RU2 {
    top: 190px;
    right: 112px;

}

.RU3 {
    top: 213px;
    right: 149px;

}

.RU4 {
    top: 236px;
    right: 186px;

}

.RU5 {
    top: 259px;
    right: 213px;

}


.LD1 {
    bottom: 152px;
    left: 75px;

}

.LD2 {
    bottom: 129px;
    left: 112px;

}

.LD3 {
    bottom: 106px;
    left: 149px;

}

.LD4 {
    bottom: 83px;
    left: 186px;

}

.LD5 {
    bottom: 60px;
    left: 213px;

}

.RD1 {
    bottom: 152px;
    right: 75px;

}

.RD2 {
    bottom: 129px;
    right: 112px;

}

.RD3 {
    bottom: 106px;
    right: 149px;

}

.RD4 {
    bottom: 83px;
    right: 186px;

}

.RD5 {
    bottom: 60px;
    right: 213px;

}


.activeEgg {
    opacity: 1;
}




.btn_start {
    position: absolute;
    width: 60px;
    height: 30px;
    top: 50px;
    right: -275px;
    background: #5c5c5c;
    border-radius: 60px/50px;
    border: red solid 5px;
}


.score {
    position: absolute;
    left: 20px;
    font-size: 50px;
}

.mistakes {
    position: absolute;
    right: 20px;
    font-size: 50px;
}