.btn{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 90%;
    background: red;
}


.btn-left-up{
    left:100px;
    top: 500px;
}


.btn-left-down{
    left:100px;
    top: 600px;
}

.btn-right-up{
    right:200px;
    top: 500px;
}

.btn-right-down{
    right:200px;
    top: 600px;
}


.active{
    background: black ;
}