.back{
    display: flex;
    position: relative;
    height: 550px;
    width: 1100px;
    background: rgb(217, 213, 202);
    /* border: 15px solid rgb(202, 48, 48); */
    border-radius: 20px;
    /* background-image: url(../img/crash3.png); */
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* border: rgb(134, 131, 131) 2px solid; */
    box-shadow:inset 0px 0px 5px rgb(0, 0, 0),0 0 5px 9.5px rgb(202, 48, 48),0 0 0 10px rgb(0, 0, 0),20px 25px 5px 10px rgba(0, 0, 0, 0.712);
}



.module{
    display: block;
    position: relative;
    
    width: 700px;
    height:440px;
    background: rgb(217, 213, 202);
    margin-top: 4%;
    margin-left:auto;
    margin-right: auto;
    
    /* box-shadow: 0 0 0 15px rgb(0, 0, 0); */

    border-left: 15px outset rgb(138, 134, 124) ;
    border-top: 15px outset rgb(117, 114, 106) ;
    border-right: 15px outset rgb(158, 154, 143) ;
    border-bottom: 15px outset rgb(119, 113, 98) ;
    /* border-bottom: 20px outset rgb(187, 176, 149) ;
    border-top: 20px outset rgb(168, 163, 151) ;
    border-left: 20px outset rgb(133, 129, 119) ;
    border-right: 20px outset rgb(158, 154, 143) ; */
    /* border-radius: 3%; */
    
}

@font-face {
    font-family: "soviet";
    src: url("../fonts/soviet.ttf") format("truetype");
   }

   @font-face {
    font-family: "TacticRound-Bld";
    src: url("../fonts/TacticRound-Bld.ttf") format("truetype");
   }

.title{
    display: flex;
    position: absolute;
    margin-left: 35%;
    /* top: 5px; */
    font-size: 18px;
    letter-spacing: 6px;
    font-family: "soviet";
    color:rgb(214, 5, 5);
}

.title2{
    display: flex;
    position: absolute;
    margin-left: 35%;
    bottom: 3px;
    font-size: 25px;
    color:black;
    font-family: "TacticRound-Bld";
    letter-spacing: 6px;
    
}

.display{
    display: block;
    position: relative;
    background-image: url(../img/background4dark.png) ;
    background-size: cover;
    width: 640px;
    height: 360px;
    
    margin-top: 5.5%;
    margin-left:auto;
    margin-right: auto;
    /* border: 10px solid rgb(212, 42, 42); */
    box-shadow:0 0 0 10px rgb(212, 42, 42), 0 0 0 11px rgb(0, 0, 0);
    border-radius: 10px;
    
}

.btn{
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 90%;
    background: red;
    
    /* border: 8px solid rgb(204, 29, 29); */
    box-shadow:  0 0 0 1px rgb(0, 0, 0), 0 0 0 6px rgb(204, 29, 29);
    
    
}

.btn:active{
    background: rgb(173, 0, 0);
}




.btn-left-up{
    left:-140px;
    top: 250px;
}

.rectangle1{
    
    position: absolute;
    height: 50px;
    width: 30px;
    left:-180px;
    top: 215px;
    transform: rotate(-56.09deg);
    background: url(../img/Rectangle.png) no-repeat;

}

.btn-left-down{
    left:-140px;
    top: 345px;
}


.rectangle2{
    position: absolute;
    height: 50px;
    width: 30px;
    left:-180px;
    top: 380px;
    background: url(../img/Rectangle.png) no-repeat;
    transform: matrix(0.56, 0.83, 0.83, -0.56, 0, 0);
}


.btn-right-up{
    right:-140px;
    top: 250px;
}


.rectangle3{
    position: absolute;
    height: 50px;
    width: 30px;
    right:-180px;
    top: 215px;
    background: url(../img/Rectangle.png) no-repeat;
    transform: matrix(-0.56, -0.83, -0.83, 0.56, 0, 0);
}

.btn-right-down{
    right:-140px;
    top: 345px;
}

.rectangle4{
    position: absolute;
    height: 50px;
    width: 30px;
    right:-180px;
    top: 380px;
    background: url(../img/Rectangle.png) no-repeat;
    transform: rotate(123.91deg);
}

.LOGO{
    position: absolute;
    top: 45px;
    left: 40px;
    height: 70px;
    width: 80px;
    background: url(../img/LOGO.png) no-repeat;
    background-size: contain;
    
}

