.back{
    display: flex;
    position: relative;
    height: 550px;
    width: 1100px;
    background: rgb(217, 213, 202);
    border: 15px solid rgb(202, 48, 48);
    border-radius: 20px;
    /* background-image: url(../img/crash3.png); */
    background-size: contain;
    left:90px;
    top:40px;
}



.module{
    display: block;
    position: relative;
    
    width: 700px;
    height:440px;
    background: rgb(217, 213, 202);
    margin-top: 4%;
    margin-left:auto;
    margin-right: auto;
    
    border-left: 15px outset rgb(138, 134, 124) ;
    border-top: 15px outset rgb(117, 114, 106) ;
    border-right: 15px outset rgb(158, 154, 143) ;
    border-bottom: 15px outset rgb(119, 113, 98) ;
    /* border-bottom: 20px outset rgb(187, 176, 149) ;
    border-top: 20px outset rgb(168, 163, 151) ;
    border-left: 20px outset rgb(133, 129, 119) ;
    border-right: 20px outset rgb(158, 154, 143) ; */
    /* border-radius: 3%; */
    
}


.title{
    display: flex;
    position: absolute;
    margin-left: 35%;
    top: 5px;
    font-size: 20px;
    color:red;
}

.title2{
    display: flex;
    position: absolute;
    margin-left: 35%;
    /* bottom: 10px; */
    font-size: 20px;
    color:black;
    
}

.display{
    display: block;
    position: relative;
    background-image: url(../img/background2.png) ;
    background-size: cover;
    width: 640px;
    height: 360px;
    
    margin-top: 5%;
    margin-left:auto;
    margin-right: auto;
    border: 10px solid rgb(212, 42, 42);
    border-radius: 10px;
    
}

.btn{
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 90%;
    background: red;
    
    /* border: 8px solid rgb(204, 29, 29); */
    box-shadow:  0 0 0 1px rgb(0, 0, 0), 0 0 0 6px rgb(204, 29, 29);
    
    
}

.btn:active{
    background: rgb(173, 0, 0);
}




.btn-left-up{
    left:-140px;
    top: 250px;
}


.btn-left-down{
    left:-140px;
    top: 345px;
}

.btn-right-up{
    right:-140px;
    top: 250px;
}

.btn-right-down{
    right:-140px;
    top: 345px;
}



.LOGO{
    position: absolute;
    top: 45px;
    left: 40px;
    height: 70px;
    width: 80px;
    background: url(../img/LOGO.png) no-repeat;
    background-size: contain;
    
}

