.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(167, 167, 167) 50%, rgb(160, 72, 72) 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.back {
    display: flex;
    position: relative;
    height: 550px;
    width: 1100px;
    background: rgb(217, 213, 202);
    border-radius: 20px;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: inset 0 0 1px 0.5px rgb(202, 48, 48), inset 0px 0px 5px 0.5px rgb(0, 0, 0), inset 0px 0px 5px rgb(0, 0, 0), 0 0 4px 9.5px rgb(202, 48, 48), 0 0 0 10px rgb(0, 0, 0), 20px 25px 5px 10px rgba(0, 0, 0, 0.712);

}

.module {
    display: block;
    position: relative;
    width: 700px;
    height: 440px;
    background: rgb(217, 213, 202);
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-left: 15px outset rgb(138, 134, 124);
    border-top: 15px outset rgb(117, 114, 106);
    border-right: 15px outset rgb(158, 154, 143);
    border-bottom: 15px outset rgb(148, 141, 122);
}

@font-face {
    font-family: "soviet";
    src: url("../fonts/soviet.ttf") format("truetype");
}

@font-face {
    font-family: "TacticRound-Bld";
    src: url("../fonts/TacticRound-Bld.ttf") format("truetype");
}

.title {
    display: flex;
    position: absolute;
    margin-left: 35%;
    background: rgb(217, 213, 202);
    font-size: 18px;
    letter-spacing: 6px;
    font-family: "soviet";
    color: rgb(214, 5, 5);
}

.title2 {
    display: flex;
    position: absolute;
    margin-left: 35%;
    background: rgb(217, 213, 202);
    bottom: 3px;
    font-size: 25px;
    color: black;
    font-family: "TacticRound-Bld";
    letter-spacing: 6px;
    height: 27px;
}

.display {
    display: block;
    position: relative;
    background-image: url(../img/background5.1.png);
    background-size: cover;
    width: 640px;
    height: 360px;
    margin-top: 5.5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 10px rgb(212, 42, 42), 0 0 0 11px rgb(0, 0, 0);
    border-radius: 10px;

}

.btn {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 90%;
    background: red;
    box-shadow: 0 0 0 1px rgb(0, 0, 0), 0 0 0 6px rgb(204, 29, 29);
}

.btn:active {
    background: rgb(173, 0, 0);
}

.btn-left-up {
    left: -140px;
    top: 250px;
}

.triangle1 {

    position: absolute;
    height: 50px;
    width: 30px;
    left: -180px;
    top: 215px;
    transform: rotate(-56.09deg);
    background: url(../img/Rectangle.png) no-repeat;

}

.btn-left-down {
    left: -140px;
    top: 345px;
}

.triangle2 {
    position: absolute;
    height: 50px;
    width: 30px;
    left: -180px;
    top: 380px;
    background: url(../img/Rectangle.png) no-repeat;
    transform: matrix(0.56, 0.83, 0.83, -0.56, 0, 0);
}

.btn-right-up {
    right: -140px;
    top: 250px;
}

.triangle3 {
    position: absolute;
    height: 50px;
    width: 30px;
    right: -180px;
    top: 215px;
    background: url(../img/Rectangle.png) no-repeat;
    transform: matrix(-0.56, -0.83, -0.83, 0.56, 0, 0);
}

.btn-right-down {
    right: -140px;
    top: 345px;
}

.triangle4 {
    position: absolute;
    height: 50px;
    width: 30px;
    right: -180px;
    top: 380px;
    background: url(../img/Rectangle.png) no-repeat;
    transform: rotate(123.91deg);
}

.LOGO {
    position: absolute;
    top: 45px;
    left: 40px;
    height: 70px;
    width: 80px;
    background: url(../img/LOGO.png) no-repeat;
    background-size: contain;

}

.right_arrow {
    position: absolute;
    right: 10px;
    bottom: 49%;
    background: url(../img/bottom-arrow.png) no-repeat;
    height: 60px;
    width: 60px;
    background-size: contain;
    transform: rotate(270deg);
    opacity: 0.3;
}

.right_arrow:hover {
    opacity: 1;
}

.rotated {
    transform: rotate(90deg);
    right: 1%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 22%;
    right: 0;
    height: 50%;
    width: 6%;
}


.footer img {
    opacity: 0.3;
    height: 50px;
    width: 50px;
}

.footer img:hover {
    opacity: 1;
}

.none {
    display: none;
}

.help {
    z-index: 3;
    position: absolute;
    background: url(../img/questionMark1.png) no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 20px;
    filter: invert(100%);
}

.offModalHelp {
    z-index: 3;
    position: absolute;
    background: url(../img/offModalHelp.png) no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 20px;
    filter: invert(100%);
}

.help:active {
    filter: invert(0%);
}

.offModalHelp:active {
    filter: invert(0%);
}

.frame {
    position: absolute;
    width: 678px;
    height: 410px;
    top: 10px;
    left: 7px;
    border: solid 4px black;
    border-radius: 20px;

}

.bell {
    position: absolute;
    height: 45px;
    width: 25px;
    right: 45px;
    top: 80px;
    background: url(../img/bell1.png) no-repeat;
    background-size: contain;
}

.clockFace {
    position: absolute;
    height: 42px;
    width: 27px;
    right: 45px;
    top: 160px;
    background: url(../img/clockFace1.png) no-repeat;
    background-size: contain;
}

.modalhelp {
    z-index: 1;
    position: absolute;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
    background: rgb(217, 213, 202);
    box-shadow: inset 0 0 1px 0.5px rgb(202, 48, 48), inset 0px 0px 5px 0.5px rgb(0, 0, 0), inset 0px 0px 5px rgb(0, 0, 0), 0 0 4px 9.5px rgb(202, 48, 48), 0 0 0 10px rgb(0, 0, 0), 20px 25px 5px 10px rgba(0, 0, 0, 0.712);

    
}

.modalhelp h2{
    font-family: "TacticRound-Bld";
    margin: 15px;
    font-size: 20px;
}

.wasd{
    background:url(../img/wasd1.png) no-repeat;
    height: 125px;
    background-size: contain;  
}